/*Colors*/
$madison: #2c3e50; /*top header*/
$cello: #34495e; /*main header, hover pagination*/
$spray: #85d6de;
$slate-gray: #737c85;
$late-slate-gray: #758594;

/*Size*/
$max-width: 1170px;

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$open-sans: 'Open Sans', sans-serif;
$FontAwesome: 'FontAwesome';

@font-face {
  font-family: Varela;
  src: url("../fonts/VarelaRound.ttf");
}

//Main classes
body {
  font-family: $open-sans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
}
h1 {
  color: #fff;
  font-size: 23px;
  font-family: Varela;
}
h2 {
  color: #fff;
  font-size: 12px;
}
p {
  font-family: $open-sans;
}
a {
  text-decoration: none;
  color: inherit;
}

//Placeholders
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $late-slate-gray;
  font-style: italic;
  font-weight: normal;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $late-slate-gray;
  font-style: italic;
  opacity: 1;
  font-weight: normal;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $late-slate-gray;
  font-style: italic;
  opacity: 1;
  font-weight: normal;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $late-slate-gray;
  font-style: italic;
  font-weight: normal;
}

//Helper Classes
.hidden {
  display: none;
}
.visible{
  display: block;
}