header {
  width: 100%;
  background: $cello;
  .header-wrapper {
    padding: 10px 0 0 0;
    max-width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    .top {
      width: 100%;
      padding: 6px 0 9px 0;
      background: $madison;
      overflow: hidden;
      ul.contact {
        float: left;
        li {
          display: inline-block;
          float: left;
          color: $late-slate-gray;
          a {
            display: inline-block;
            margin: 0 30px 0 8px;
            font-size: 12px;
          }
        }
      }
      form {
        float: right;
        position: relative;
        label[for="search"] {
          opacity: 0;
        }
        input {
          &[type="search"] {
            outline: none;
            border: none;
            background: $cello;
            width: 360px;
            height: 25px;
            border-radius: 15px;
            padding: 0 25px 0 13px;
          }
          &[placeholder]{
            color: #fff;
          }
        }
        .search-icon {
          position: absolute;
          right: 20px;
          top: 4px;
          color: $late-slate-gray;;
        }
      }
    }
    .logo {
      float: left;
      padding: 28px 0 0 0;
      a {
        float: left;
        img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      .site-name {
        float: left;
        margin: -5px 0 0 20px;
      }
    }
    nav.topnav {
      float: right;
      margin: 46px 0 36px 0;
      color: #fff;
      ul {
        li {
          float: left;
          margin: 0 40px 0 0;
          &.active {
            opacity: 0.7;
          }
          &:hover {
            opacity: 0.7;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

//Placeholders
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $late-slate-gray;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $late-slate-gray;
  font-style: italic;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $late-slate-gray;
  font-style: italic;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $late-slate-gray;
  font-style: italic;
}