.middle {
  clear: both;
  max-width: $max-width;
  margin: 0 auto;

  ul.breadcrumbs {
    padding: 36px 0 26px 9px;
    margin: 0 0 64px 0;
    border-bottom: 1px solid #dfe6e7;
    font-size: 12px;
    color: $cello;
    li {
      display: inline-block;
      margin: 0 20px 0 0;
      position: relative;
      font-weight: 600;
      &:hover {
        color: $spray;
      }
      &:after {
        position: absolute;
        right: -15px;
        top: 4px;
        font-family: $FontAwesome;
        display: inline-block;
        content: "\f054";
        color: $cello;
      }
      &.active {
        color: $spray;
      }
      &:last-child:after {
        display: none;
        margin-right: 0;
      }
    }
  }

  .main-content {
    float: left;
    article {
      max-width: 720px;
      margin: 0 0 72px 0;
      .post-image {
        border: 1px solid #dfe6e7;
        padding: 19px;
        position: relative;
        time {
          position: absolute;
          width: 70px;
          height: 70px;
          background: $spray;
          left: 0;
          top: 150px;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          padding: 17px 0 0 10px;
          box-sizing: border-box;
        }
      }
      .post-title {
        font-family: Varela;
        font-size: 28px;
        margin: 26px 0 17px 0;
        a:hover {
          color: $spray;
        }
      }
      .post-description {
        font-size: 14px;
        color: $slate-gray;
        line-height: 26px;
        .read-more {
          display: inline-block;
          margin: 0 0 0 10px;
          position: relative;
          color: $cello;
          &:hover {
            opacity: 0.8;
          }
          &:after {
            position: absolute;
            right: -13px;
            top: 2px;
            font-family: $FontAwesome;
            display: inline-block;
            content: "\f054";
            font-size: small;
            color: $cello;
          }
        }
      }
    }
    ul.pagination {
      overflow: hidden;
      margin: 0 0 30px 0;
      text-align: center;
      li {
        display: inline;
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
        a {
          display: inline-block;
          width: 60px;
          height: 60px;
          background: #dfe6e7;
          color: $cello;
          padding: 19px 0 0 0;
          box-sizing: border-box;
          font: 600 18px "Open Sans", sans-serif;
          &.active {
            background: $cello;
            color: #fff;
          }
          &:hover {
            background: $cello;
            color: #fff;
          }
          &.prev {
            background: $spray;
            position: relative;
            &:hover {
              opacity: 0.7;
            }
            &:after {
              position: absolute;
              left: 21px;
              top: 23px;
              font-family: $FontAwesome;
              display: inline-block;
              content: "\f053";
              color: #fff;
            }
          }
          &.next {
            background: $spray;
            position: relative;
            &:hover {
              opacity: 0.7;
            }
            &:after {
              position: absolute;
              right: 21px;
              top: 23px;
              font-family: $FontAwesome;
              display: inline-block;
              content: "\f054";
              color: #fff;
            }
          }
        }
      }
    }
  }

  aside {
    float: left;
    max-width: 362px;
    margin: 0 0 0 60px;
    overflow: hidden;
    .archive {
      margin: 0 0 65px 0;
      .archive-title {
        font: normal 20px Varela;
        color: $cello;
        margin: 0 0 23px 0;
      }
      ul {
        li {
          a {
            display: inline-block;
            font-size: 16px;
            color: $slate-gray;
            position: relative;
            margin: 0 0 0 27px;
            line-height: 40px;
            &:hover {
              opacity: 0.7;
            }
            &:before {
              position: absolute;
              content: " ";
              background: url("../images/bullet.png");
              left: -27px;
              top: 12px;
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
    .popular {
      margin: 0 0 65px 0;
      .tabs-navigation {
        width: 100%;
        float: left;
        .tab-link {
          float: left;
          color: $cello;
          font-weight: bold;
          opacity: 0.7;
          font-size: 14px;
          &.active {
            background: $spray;
            opacity: 1;
            color: #fff;
          }
          &:hover {
            opacity: 1;
          }
          a {
            display: block;
            padding: 12px 13px;
          }
        }
      }
      .tab-panel {
        border: solid 1px #e4e5db;
        clear: both;
        padding: 25px 0 0 25px;
        .post-preview {
          max-width: 311px;
          margin: 0 0 40px 0;
          .img-wrapper {
            max-width: 311px;
            a:hover {
              opacity: 0.7;
            }
            img {
              width: 100%;
            }
          }
          .post-preview-title {
            font-family: Varela;
            margin: 8px 0;
            a:hover {
              color: $spray;
            }
          }
          .post-preview-description {
            font-size: 14px;
            color: $slate-gray;
          }
        }
      }
    }
    .tags {
      .tags-title {
        font: normal 20px Varela;
        color: $cello;
        margin: 0 0 23px 0;
      }
      ul {
        margin-left: -5px;
        overflow: hidden;
        li {
          display: inline-block;
          margin: 5px;
          float: left;
          &:last-child {
            margin-left: 0;
          }
          a {
            display: inline-block;
            padding: 5px 15px;
            background: #dfe6e7;
            color: $cello;
            border-radius: 30px;
            font-size: 12px;
            &:hover {
              background: $spray;
              color: #fff;
            }
          }
        }
      }
    }
  }

}